#Header {
  width: 90rem;
  margin: 0 auto;

  header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 4rem 0rem 2rem 4rem;

    h2 {
      margin-top: 1.5rem;
    }
  }

  .separator {  
    display: flex;
    align-items: center;

    height: 0.15rem;
    background: #047F9F;
    margin-bottom: 4rem;
  }
}

