#content {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem 0 0.5rem 0.5rem;
  }

  input {
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    width: 22rem;
    
    background: #FFF;
    border: 0.1rem solid #0008;
    border-radius: 0.5rem;
  }
}